In [10]:
## This program takes the Uber data and rounds the time data from minutes into hours in order to match the 
# format of the weather data

In [35]:
import pandas as pd
import numpy as np
import collections
import matplotlib.pyplot as plt

from datetime import date


temperature_to_load = "temperature.csv"

temperature_data = pd.read_csv(temperature_to_load)



# File to Load (Remember to Change These)
uber_to_load = "ubernyc.csv"

uber_data = pd.read_csv(uber_to_load)

In [15]:
#from ubernyc.csv merge the columns DATE and TIME and round the time hours
uber_data.index = pd.to_datetime(uber_data["DATE"] + " " + uber_data["TIME"])
ut = uber_data.index.round("H")
ut = pd.DataFrame(ut)

In [17]:
# #Export the ut into a csv
# with open('test1.csv', mode='w') as output_data_file:
#     ut.to_csv(output_data_file, index_label="Index")

In [14]:
#take column from ut df with timestamps and make it into a list.
list1 = []
list1 = ut[0].tolist()

In [15]:
#count the number of uber rides per hour. The output looks like a library key: value, Key is the time and value the number of rides during that time
counter=collections.Counter(list1)

df_time_as_header = pd.DataFrame(counter, index=[0])
#transponde df_time_as_header to get correct format, one hour per row insated of one hour per column
df_final = df_time_as_header.T

In [16]:
#rename axis so that later the two df (Uber and Temperature) can  be merged using their index
df_final.rename_axis('datetime')

#rename column, by default 0, to 'number_of_rides' and change the name of the df to be more descriptive
df_number_of_rides_per_hour = df_final.rename(columns={0: 'number_of_rides'})

In [32]:
#select columns 'datetime' and 'New York' from tempreature data and store in a new df NYC_df
NYC_df = temperature_data[['datetime', 'New York']].copy()

#make datetime the index for 'NYC_df' df
NYC_df.set_index('datetime', inplace=True)

#rename New York column to be Temperature in K
NYC_df = NYC_df.rename(columns={'New York': 'Temperature K'})

NYC_df = NYC_df.join(df_number_of_rides_per_hour, how='inner')
NYC_df.head()

                     Temperature K  number_of_rides
2014-07-01 00:00:00         300.91               20
2014-07-01 01:00:00         299.79               33
2014-07-01 02:00:00         298.24               21
2014-07-01 03:00:00         297.61               15
2014-07-01 04:00:00         297.22               19